*:not(input):not(textarea) {
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}

html {
  position: relative;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
}

body {
  margin-bottom: 60px;
}

body > .container {
  padding: 70px 15px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(115,197,46,0.7);
    z-index: 99999;
    display: none;
}

#loading img {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20%;
}

.navbar-default .navbar-text {
    float: none;
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 40px;
    text-align: left;
}

.navbar-default {
    background-image: -webkit-linear-gradient(top, #8BD438 0, #4EAC1F 100%);
    background-image: -o-linear-gradient(top, #8BD438 0, #4EAC1F 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8BD438), to(#4EAC1F));
    background-image: linear-gradient(to bottom, #8BD438 0, #4EAC1F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8BD438', endColorstr='#4EAC1F', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    margin: 0;
}

.navbar #btn-menu {
    font-size: 25px;
    position: absolute;
    color: #fff;
    overflow: hidden;
    padding: 16px 14px;
    display: none;
}

.navbar .controles {
    position: absolute;
    right: 0;
    top: 0;
    height: 58px;
    z-index: 100;
    display: none;
}

.navbar .controles a > span {
    font-size: 25px;
    color: #fff;
    overflow: hidden;
    padding: 16px 10px;
    z-index: 100;
}

.alert {
    display: none;
    margin: 0 10px 10px 10px;
}

.nav-tabs.tabs-sel {
    padding: 0 10px;
}

.row-form-ctrl .form-group {
    margin: 0;
}

#menu {
    background-color: rgba(0,0,0,0.4);
    margin: auto;
    padding: 60px 0 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
}

#menu ul {
    background-color: #303030;
    margin: 0;
    padding: 0;
}

#menu ul li {
    border-bottom: 1px solid #ffffff;
}

#menu ul li a {
    font-size: 22px;
    color: #FFFFFF;
    display: block;
    padding: 20px 25px;
}

#menu ul li a > span {
    margin-right: 15px;
}


.iOS .navbar {
    padding-top: 20px;
}

.iOS .navbar #btn-menu {
    margin-top: 20px;
}

.iOS .navbar .controles {
    margin-top: 20px;
}

.iOS #menu {
    padding-top: 80px;
}

body.iOS > .container {
  padding-top: 90px;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

/* LOGIN LOGIN LOGIN LOGIN 
   LOGIN LOGIN LOGIN LOGIN */
#page-login .form-control {
    margin-top: 5px;
}

#page-login .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
#page-login .form-signin .form-signin-heading,
#page-login .form-signin .checkbox {
  margin-bottom: 10px;
}
#page-login .form-signin .form-signin-heading img {
    width: 100%;
}
#page-login .form-signin .checkbox {
  font-weight: normal;
}
#page-login .form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
#page-login .form-signin .form-control:focus {
  z-index: 2;
}
#page-login .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#page-login .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#page-login .esqueceu {
    margin: 20px 0;
    display: block;
}
/* LOGIN LOGIN LOGIN LOGIN 
   LOGIN LOGIN LOGIN LOGIN */



/* CLIENTES CLIENTES CLIENTES CLIENTES
   CLIENTES CLIENTES CLIENTES CLIENTES */
#page-clientes-lista .busca {
    margin-bottom: 10px;
    overflow: hidden;
}

    #page-clientes-lista .busca .input-group {
        margin: 0 8px;
    }

#page-clientes-lista .table td a {
    color: #000000;
    text-decoration: none;
    margin: 0;
    display: block;
}

#page-clientes-lista .table td.foto {
    width: 60px;
}

#page-clientes-lista .table td.acoes {
    width: 80px;
    vertical-align: middle;
}

#page-clientes-lista .table img {
    max-height: 60px;
}

/* ################################# */


#page-clientes-incluir .media, #page-clientes-editar .media {
    margin-bottom:  20px;
}

#page-clientes-incluir .media img, #page-clientes-editar .media img {
    max-height: 388px;
}

@media (max-width: 768px){
    #page-clientes-incluir .media img, #page-clientes-editar .media img {
        max-height: 200px;
    }
}


#page-clientes-editar .tab-content {
    padding: 10px 0;
}

.nav-tabs.nav-justified>li:not(.active)>a {
    color: #333;
}

#page-clientes-editar .form-clientes-bio {
    display: none;
}

#page-clientes-editar .form-clientes-bio .panel {
    margin-bottom:  15px;
    overflow: hidden;
}    

#page-clientes-editar .form-clientes-bio .panel .panel-heading {
    background: 0;
    border-bottom: 2px solid #c9e6aa;
}

#page-clientes-editar .form-clientes-bio .panel .panel-heading h4 {
    font-size: 14px;
    font-weight: bold;
}

#page-clientes-editar .form-clientes-bio .panel .photo,
#page-clientes-editar .form-clientes-bio .panel .link {
    height: 70px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

#page-clientes-editar .lista-bios .table tbody tr.line-details td .photo {
    height: 40px;
    overflow: hidden;
    margin: 10px 0;
}

#page-clientes-editar .lista-bios .table tbody tr.line-details td .photo > a,
#page-clientes-editar .form-clientes-bio .panel .photo > a {
    display: block;
    height: 100%;
    width:  100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#page-clientes-editar .form-clientes-bio .panel .photo > .btn-drop {
    height: auto;
    width: auto;
    background: 0;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: #a94442;
}

#page-clientes-editar .form-clientes-bio .panel .photo.remove {
    display: none;
}

#page-clientes-editar .lista-bios .table tbody tr.line-details td .photo.expand,
#page-clientes-editar .form-clientes-bio .panel .photo.expand {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(115,197,46,0.7);
    z-index: 9999;
}

#page-clientes-editar .form-clientes-bio .panel .photo.expand > .btn-drop {
    display: none;
}


#page-clientes-editar .form-clientes-bio .panel .btn-add-photo span {
    padding-left: 3px;
}

#page-clientes-editar .form-clientes-bio .panel .btn-add-photo {
    font-size: 1.5em;
    line-height: 55px;
    display: block;
    height: 70px
}

#page-clientes-editar #bio tr.line-details td {
    border: none;
    padding: 10px 0;
}

#page-clientes-editar #bio td {
    vertical-align: middle;
}

#page-clientes-editar #bio .form-group input {
    width: 95%;
}
/* CLIENTES CLIENTES CLIENTES CLIENTES
   CLIENTES CLIENTES CLIENTES CLIENTES */





/* PRODUTOS PRODUTOS PRODUTOS PRODUTOS
   PRODUTOS PRODUTOS PRODUTOS PRODUTOS */
#page-produtos {
    padding-bottom: 90px;
}

#page-produtos .mini-carrinho {
    background-color: #eee;
    height: 100%;
    bottom: 0;
    top: 0;
    margin: auto;
    position: fixed;
    right: 0;
    padding-top: 60px;
    padding-bottom: 100px;
}

.iOS #page-produtos .mini-carrinho {
    padding-top: 80px;
}

#page-carrinho .header,
#page-pagamento .header,
#page-produtos .mini-carrinho .header {
    background-color: #555;
    border-bottom: 4px solid #ccc;
    padding: 10px 0;
    margin: 0 -15px;
    overflow: hidden;
}


#page-carrinho .header,
#page-pagamento .header {
    position: absolute;
    top: 60px;
    left: 15px;
    width: 100%;
    max-height: 90px;
}

.iOS #page-carrinho .header,
.iOS #page-pagamento .header {
    top: 80px;
}

#page-carrinho .header .photo,
#page-pagamento .header .photo {
    float: left;
    margin: 0 20px;
}

#page-carrinho .header .infos,
#page-pagamento .header .infos {
    float: left;
}

#page-carrinho .header img,
#page-pagamento .header img {
    max-height: 65px;
    display: block;
    margin: auto;
}

#page-carrinho .header h3,
#page-pagamento .header h3,
#page-produtos .mini-carrinho .header h3 {
    color: #ffffff;
}

#page-carrinho .header h3,
#page-pagamento .header h3 {
    margin-top: 5px;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#page-carrinho .header h4,
#page-pagamento .header h4 {
    color: #ffffff;
}

#page-produtos .mini-carrinho .lista {
    overflow: auto;
    height: 100%;
    padding-bottom: 60px;
}

#page-carrinho .footer,
#page-pagamento .footer,
#page-produtos .mini-carrinho .footer {
    background-color: #555;
    border-top: 4px solid #ccc;
    padding: 10px 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 84px;
}

#page-carrinho .footer h1,
#page-pagamento .footer h1,
#page-produtos .mini-carrinho .footer h1 {
    margin: 0;
    color: #fff;
    font-size: 2em;
}

#page-carrinho .footer h3,
#page-pagamento .footer h3,
#page-produtos .mini-carrinho .footer h3 {
    margin: 0;
    color: #fff;
    font-size: 20px;
    padding-bottom: 5px;
}

#page-carrinho .footer .btn-pagar,
#page-pagamento .footer .btn-pagar,
#page-produtos .mini-carrinho .footer .btn-pagar {
    line-height: 38px;
}

#page-carrinho .lista td,
#page-produtos .mini-carrinho .lista td {
    vertical-align: middle;
}

#page-carrinho .lista td.foto,
#page-produtos .mini-carrinho .lista td.foto {
    width: 65px;
}

#page-carrinho .lista td.acoes,
#page-produtos .mini-carrinho .lista td.acoes {
    width: 88px;
}

#page-produtos .mini-carrinho .lista td span.grade {
    display: block;
}

#page-produtos .tags,
#page-produtos .subtags {
    margin: 0 0 10px;
}

#page-produtos .subtags {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#page-produtos .itens .grupo.active {
    display: block;
}

#page-produtos .itens .item {
    display: none;
}

#page-produtos .itens .item,
#page-grade .itens .item {
    padding: 5px;
}

#page-produtos .itens .item .content,
#page-grade .itens .item .content {
    padding: 0.7em;
    background-color: rgba(0,0,0,0.15);
    border: 1px solid #ccc;
    /*margin: 5px 0;*/
    border-radius: 6px;
}

#page-grade .itens .item.selected {
    border-color: rgba(99, 170, 40, 1);
    background-color: rgba(99, 170, 40, 0.41);
}

#page-grade .itens .item.inactive {
    opacity: 0.5;
}


#page-produtos .itens .item img,
#page-grade .itens .item img {
    max-height: 146px;
    max-width: 100%;
}

#page-produtos .itens .item h3,
#page-grade .itens .item h3 {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

#page-grade .faixa {
    position: fixed;
    background-color: #FFF;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 59px;
    display: block;
    padding: 5px;
    box-shadow: 0 0 10px -4px #000;
}

#page-grade .faixa > div.nome-categoria {
    font-size: 18px;
    line-height: 46px;
    float: left;
    padding-left: 10px;
}

#page-grade .faixa > .btn-avancar {
    display: none;
    float: right;
    height: 46px;
    width: 50px;
    padding-top: 11px;
    padding-left: 16px;
}

#page-grade .faixa > div > .btn-avancar > i {
    margin: 1px 0px 5px -6px;
}

#page-grade .itens {
    margin: 55px 20px 20px;
    overflow: hidden;
}

/* PRODUTOS PRODUTOS PRODUTOS PRODUTOS
   PRODUTOS PRODUTOS PRODUTOS PRODUTOS */




/* CARRINHO CARRINHO CARRINHO CARRINHO
   CARRINHO CARRINHO CARRINHO CARRINHO */

#page-carrinho .lista {
    margin-top: 90px;
    padding-top: 10px;
    margin-bottom: 30px
}

#page-carrinho .table-scroll-container {
    width: 100%;
    overflow-x: auto;
}

#page-carrinho table {
    font-size: 18px;
}

#page-carrinho table tr th, #page-carrinho table tr td {
    font-size: 18px;
    padding: 1px;
}

#page-carrinho table .off {
    display: none;
}

#page-carrinho table td.acoes {
    min-width: 120px;
}

#page-carrinho table td.acoes .qtd {
    margin-right: 5px;
}

#page-carrinho table td.cartela {
    width: 80px;
    text-align: center;
}

#page-carrinho table .unitario, 
#page-carrinho table .sub {
    text-align: right;
}

@media (max-width: 768px){
    #page-carrinho table .unitario {
        display: none;
    }
}

/* CARRINHO CARRINHO CARRINHO CARRINHO
   CARRINHO CARRINHO CARRINHO CARRINHO */


/* PAGAMENTO PAGAMENTO PAGAMENTO PAGAMENTO
   PAGAMENTO PAGAMENTO PAGAMENTO PAGAMENTO */

#page-pagamento .lista {
    margin-top: 90px;
    padding: 0 0 20px 0;
}

#page-pagamento .lista li {
    /*margin: 10px !important;*/
    margin: 5px 0 !important;
    width: 100%;
    box-sizing: border-box;
}

#page-pagamento .lista li a {
    /*padding: 52px;
    font-size: 24px;*/
    padding: 20px;
    font-size: 18px;
    border-radius: 0;
}

#page-pagamento .lista li:not(.active) a {
    background-color: #eee;
}

#page-vendas .lista .item {
    height: 150px;
}

#page-vendas .lista .item a {
    height: 100%;
    display: block;
    overflow: hidden;
}

#page-vendas .lista .item a > .foto {
    height: 100px;
    width: 100px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto auto;
    bottom: 0;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;    
}

#page-vendas .lista .item a > .badge {
    background-color: red;
    border-radius: 50%;
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 30px;
    position: absolute;
    top: 15px;
    left: 50px;
}

#page-vendas .lista .item a > .nome {
    background-color: rgba(255,255,255,0.8);
    font-size: 16px;
    width: 100%;
    height: 30px;
    display: block;
    text-align: center;
    color: #000;
    line-height: 30px;
    position: absolute;
    bottom: 15px;
    left: 0px;
    white-space: nowrap;
    overflow: hidden;
}

/* PAGAMENTO PAGAMENTO PAGAMENTO PAGAMENTO
   PAGAMENTO PAGAMENTO PAGAMENTO PAGAMENTO */


#page-relatorio #frame-relatorio {
	width: 100%;
    height: 100%;
    position: absolute;
    top: -82px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}